<main id='main' class='container px-3'>
  <%# close by default on mobile, need to hook up js %>
  <div class='grid grid-cols-[2fr,1fr] gap-3 py-3'>
    <div>
      <h1>Flavors</h1>
      <details class='contents'>
        <summary class='font-bold cursor-pointer'>
          Flavors
        </summary>
        <div class='flex flex-wrap gap-3 items-start'>
          <% @flavors.each do |flavor| %>
            <div 
            class='border-gray-500 border rounded-3xl p-3'>
              <%= link_to flavor.name, flavor %>
            </div>
          <% end %>
        </div>
      </details>
    </div>
    <aside>
      <h2>Filter flavors</h2>
      <form name='filter' action="<%= flavors_path %>" method="get" class="grid gap-3">
        <select multiple name="categories[]" id="flavor-categories" class="select select-bordered w-full">
          <option disabled selected value="">--Please choose an option--</option>
          <% @categories.each do |category| %>
            <% selected = category.in?(@filters[:categories]) %>
            <option <%= "selected" if selected %> value="<%= category %>"><%= category %></option>
          <% end %>
        </select>
        <button class="btn btn-primary" type="submit">Filter</button>
      </form>
    </aside>
  </div>
</main>
